<!-- Audio Player -->
<div class="row m-2 p-2">

  <div class="col-12 col-sm-6 col-md-4">
    <!-- Song Title and Data -->
    <div id="audio-card" class="card mb-1 pb-1 align-items-center">
      <div class="card-body">
        <h3>Song Title</h3>
        <h6>By Author Name</h6>
      </div>
    </div>


    <!-- Audio Controls -->
    <div class="controls d-flex align-items-center justify-content-center mb-1 pb-1">
      <button class="btn-audio btn" data-action="play">
        <span id="controlAudioBtn" class="fa fa-play-circle-o"></span>
        <p class="visually-hidden">
          Audio Control Button that switches between Play and Pause.
        </p>
      </button>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-8 d-flex align-items-center justify-content-center">
    <!-- Wave Surfer JS (Audio Wave Visualization) -->
    <div id="waveform">
    </div>
  </div>

</div>
