body, html {
  margin: 0;
  padding: 0;
  min-width:100%;
  min-height:100%;
  font: Roboto 14px;
}


/*
Color Name Acknowledgements:

  - "Name That Color" ( https://chir.ag/projects/name-that-color/#0C0C0D )
  - "HTMLCSSColor" ( https://www.htmlcsscolor.com/hex/151517 )
  - "Dopely Colors" ( https://colors.dopely.top/color-pedia )
*/

:root {
  /* Black Shades */
  --BlackVoid: #020202;
  --WoodSmoke: #0c0c0d;
  --BlackPrussian: #151517;
  --Shark: #1f1f21;
  --Jaguar: #28282b;
  --Bastille: #313135;
  /* Grey Shades */
  --BalticSea: #3b3b3f;
  --PaynesGrey: #444449;
  --GunPowder: #4e4e54;
  --StormGrey: #74747c;
  /* White Shades */
  --WhiteLilac: #d9d9db;
  --AthensGrey: #ededee;
  --GhostWhite: #f7f7f8;
  --Iron: #dfe0e1;
  --Solitude: #f8f9fa;
}

/* Wave Surfer Audio Player */

/* Play & Pause Icons */
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 2em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-audio {
  border-radius: 30px;
  color: var(--BlackPrussian);
  background-color: var(--Solitude);
}
.btn-audio:hover {
  color: var(--Shark);
  background-color: var(--AthensGrey);
}
.btn-audio:hover {
  color: var(--Shark);
  background-color: var(--AthensGrey);
}

#audio-card {
  border-color: transparent;
  font-weight: 800;
  text-transform: uppercase;


}
/* Audio Wave Visualization */

#waveform {
  flex: 0 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 75%;
  flex-wrap: wrap;
  overflow: hidden !important;
  overflow-y: hidden !important; /* Hide vertical scrollbar */
  overflow-x: hidden !important; /* Hide horizontal scrollbar */

}

#waveform > wave {
  overflow: hidden !important;
  overflow-y: hidden !important; /* Hide vertical scrollbar */
  overflow-x: hidden !important; /* Hide horizontal scrollbar */
}



/* Assorted Audio Layer / Menu */

#audioGroupLayer {
  font-weight: 600;
  text-transform: uppercase;
}
#audioGroupLayer > div > a[class^="list-group-item"] {
  border-top-width: 1px;
  border-top-style: solid;
}

.list-group-item-darkest {
  background-color: var(--WoodSmoke);
  border-color: var(--BlackVoid);
  color: var(--WhiteLilac);
}

.list-group-item-darkest:hover {
  background-color: var(--Shark);
  border-color: var(--WoodSmoke);
  color: var(--GhostWhite);
}

.list-group-item-darkest:focus {
  background-color: var(--Shark);
  border-color: var(--WoodSmoke);
  color: var(--GhostWhite);
}


/* Sub Categories of Assorted Audio (Menu) */

.list-group-item-sub {
  background-color: var(--Bastille);
  border-color: var(--Shark);
  color: var(--Solitude);
}

.list-group-item-sub:hover {
  background-color: var(--BalticSea);
  border-color: var(--GunPowder);
  color: var(--GhostWhite);
}

.list-group-item-sub:focus {
  background-color: var(--BalticSea);
  border-color: var(--GunPowder);
  color: var(--GhostWhite);
}
